// Chicago Design System variables
// These variables use Bootstrap & USWDS naming conventions to communicate colors.

// Chicago Design System Colors

$color-black:                #000000 !default;
$color-bkgd-gray-cool-dark:  #112E51 !default;
$color-bkgd-gray-dark:       #323A45 !default;
$color-bkgd-gray-warm-dark:  #494440 !default;
$color-bkgd-gray:            #5B616B !default;
$color-bkgd-gray-light:      #AEB0B5 !default;
$color-bkgd-gray-lighter:    #D6D7D9 !default;
$color-gray-cool-light:      #DCE4EF !default;
$color-bkgd-gray-warm-light: #E4E2E0 !default;
$color-gray-lightest:        #F1F1F1 !default;
$color-white:                #ffffff !default;

//unused currently?

$color-gray-dark:            #4D4D4D !default;
$color-gray-light:           #B3B3B3 !default;
$color-gray-lighter:         #D9D9D9 !default;


$white:    $color-white !default;
$gray-100: $color-gray-lightest !default;            // #f8f9fa
$gray-200: $color-bkgd-gray-warm-light !default;     // #e9ecef
$gray-300: $color-gray-cool-light !default;          // #dee2e6
$gray-400: $color-bkgd-gray-lighter !default;        // #ced4da
$gray-500: $color-bkgd-gray-light !default;          // #adb5bd
$gray-600: $color-bkgd-gray !default;                // #6c757d
$gray-700: $color-bkgd-gray-warm-dark !default;      // #495057
$gray-800: $color-bkgd-gray-dark !default;           // #343a40
$gray-900: $color-bkgd-gray-cool-dark !default;      // #212529
$black:    $color-black !default;


// primary
$color-star-red:             #E4002B !default;
$color-flag-blue:            #41B6E6 !default;

// secondary


$color-bahama-blue:          #005B99 !default;
$color-secondary-darkest:    $color-bahama-blue !default;

$color-malibu-blue:          #0075BB !default;
$color-secondary-dark:       $color-malibu-blue !default;

$color-lochmara-blue:        #0092D1 !default;
$color-secondary-light:      $color-lochmara-blue !default;

$color-cornflower-blue:      #A4D5EE !default;
$color-secondary-lighter:      $color-cornflower-blue !default;

$color-lake-michigan:        #E1F3F8 !default;
$color-secondary-lightest:    $color-lake-michigan !default;

// tertiary

$color-red-darkest:     #981b1e !default;
$color-red-dark:        #CC393E !default;
$color-red-light:       #E59393 !default;
$color-red-lightest:    #FBD9DF !default;

$color-gold:                 #FDB81E !default;
$color-gold-light:           #F9C642 !default;
$color-gold-lighter:         #FAD980 !default;
$color-gold-lightest:        #FFF1D2 !default;

$color-green:                #2E8540 !default;
$color-green-light:          #4AA564 !default;
$color-green-lighter:        #94BFA2 !default;
$color-green-lightest:       #E7F4E4 !default;


// special state

$color-focus:                #2C5491;
$color-visited:              #4C2C92;

// WHAT ARE THESE?

// Functional colors

$color-primary:              $color-flag-blue;
$color-primary-darker:       $color-malibu-blue;
$color-primary-darkest:      $color-bahama-blue;
$color-primary-alt:          $color-cornflower-blue !default;
$color-primary-alt-dark:     $color-malibu-blue !default;
$color-primary-alt-darkest:  $color-bahama-blue !default;
$color-primary-alt-light:    $color-lochmara-blue !default;
$color-primary-alt-lightest: $color-flag-blue !default;
$color-secondary:            $color-star-red;
$color-black-light:          #212121 !default; 
$color-base:                 $color-black-light !default;


// FONTS
/////////////////////////////////////

$font-logo:                  'Big Shoulders Text', sans-serif;

$font-sans:                  'Roboto', sans-serif;
$font-serif:                 'Lora', serif;

// $local-font-path:   '../fonts' !default;
// $local-image-path:   '../img' !default;

// @include google-font(Roboto, 100 300 500 700, italic normal);
// @include google-font(Big Shoulders Text, 100 200 300 400 500 600 700 800 900, light medium regular black bold extrabold semibold thin);
// @include google-font(Lora, 400 700, italic normal);

$font-family-base:            $font-sans;



