// Chicago Design System variables
// These variables use Bootstrap & USWDS naming conventions to communicate colors.

// Chicago Design System Colors

// fusv-disable

$color-black:                #000000 !default;
$color-bkgd-gray-cool-dark:  #112E51 !default;
$color-bkgd-gray-dark:       #323A45 !default;
$color-bkgd-gray-warm-dark:  #494440 !default;
$color-bkgd-gray:            #5B616B !default;
$color-bkgd-gray-light:      #AEB0B5 !default;
$color-bkgd-gray-lighter:    #D6D7D9 !default;
$color-gray-cool-light:      #DCE4EF !default;
$color-bkgd-gray-warm-light: #E4E2E0 !default;
$color-gray-dark:            #4D4D4D !default;
$color-gray-darkest:         #212121 !default;
$color-gray-light:           #B3B3B3 !default;
$color-gray-lighter:         #D9D9D9 !default;
$color-gray-lightest:        #F1F1F1 !default;
$color-white:                #ffffff !default;

$white:    $color-white !default;
$gray-100: $color-gray-lightest !default;            // #f8f9fa
$gray-200: $color-bkgd-gray-warm-light !default;     // #e9ecef
$gray-300: $color-gray-cool-light !default;          // #dee2e6
$gray-400: $color-bkgd-gray-lighter !default;        // #ced4da
$gray-500: $color-bkgd-gray-light !default;          // #adb5bd
$gray-600: $color-bkgd-gray !default;                // #6c757d
$gray-700: $color-bkgd-gray-warm-dark !default;      // #495057
$gray-800: $color-bkgd-gray-dark !default;           // #343a40
$gray-900: $color-gray-darkest !default;      // #212121
$black:    $color-black !default;


/* unused currently?

$color-malibu-blue:          #0075BB !default;
$color-lochmara-blue:        #0092D1 !default;
$color-cornflower-blue:      #A4D5EE !default;
$color-lake-michigan:        #E1F3F8 !default;

$color-red-darkest:     #981b1e !default;
$color-red-light:       #E59393 !default;
$color-red-lightest:    #FBD9DF !default;

$color-gold-light:           #F9C642 !default;
$color-gold-lighter:         #FAD980 !default;
$color-gold-lightest:        #FFF1D2 !default;

$color-green-light:          #4AA564 !default;
$color-green-lighter:        #94BFA2 !default;
$color-green-lightest:       #E7F4E4 !default;

// special state

$color-focus:                #2C5491;
$color-visited:              #4C2C92;

*/

$color-star-red:             #E4002B !default;
$color-malibu-blue:          #0075BB !default;
$color-flag-blue:             $color-malibu-blue !default;

$color-red-dark:             #CC393E !default;
$color-gold:                 #FDB81E !default;
$color-green:                #2E8540 !default;

$color-bahama-blue:          #005B99 !default;

$blue:     $color-malibu-blue !default;             // #0d6efd
$indigo:   #6610f2 !default;             // #6610f2
$purple:   #4C2C92 !default;             // #6f42c1
$pink:     #d63384 !default;             // #d63384
$red:      $color-star-red !default;             // #dc3545
$orange:   #fd7e14 !default;             // #fd7e14
$yellow:   $color-gold !default;             // #ffc107
$green:    $color-green !default;             // #28a745
$teal:     #20c997 !default;             // #20c997
$cyan:     $color-flag-blue !default;             // #17a2b8

// fusv-enable

// Typography
//
// Font, line-height, and color for body text, headings, and more.

$font-logo:                  'Big Shoulders Text', sans-serif;
//$font-sans:                  Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-sans:                  'Lora', Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-serif:                 Roboto, serif;

@include google-font(Roboto, 100 300 500 700, italic normal);
@include google-font("Big Shoulders Text", 100 200 300 400 500 600 700 800 900, light medium regular black bold extrabold semibold thin);
@include google-font(Lora, 400 700, italic normal);

// stylelint-disable value-keyword-case
$font-family-sans-serif:      $font-sans !default;
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;

// stylelint-enable value-keyword-case

// $font-size-root effects the value of `rem`, which is used for as well font sizes, paddings and margins
// $font-size-base effects the font size of the body text
$font-size-root:              null !default;
$font-size-base:              1.7rem !default; // Assumes the browser default, typically `16px`
$font-size-lg:                $font-size-base * 1.25 !default;
$font-size-sm:                $font-size-base * .875 !default;

$font-weight-lighter:         lighter !default;
$font-weight-light:           300 !default;
$font-weight-normal:          400 !default;
$font-weight-bold:            700 !default;
$font-weight-bolder:          bolder !default;

$font-weight-base:            $font-weight-normal !default;

$line-height-base:            1.5 !default;
$line-height-lg:              2 !default;
$line-height-sm:              1.25 !default;

$h1-font-size:                $font-size-base * 2.5 !default;
$h2-font-size:                $font-size-base * 2 !default;
$h3-font-size:                $font-size-base * 1.75 !default;
$h4-font-size:                $font-size-base * 1.5 !default;
$h5-font-size:                $font-size-base * 1.25 !default;
$h6-font-size:                $font-size-base !default;

$headings-font-family:        $font-serif !default;

// Navbar
$navbar-padding-y:                  0 !default; //$spacer / 2 !default;
$navbar-padding-x:                  15px !default;

$navbar-nav-link-padding-x:         .5rem !default;
