<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- CDS Bootstrap Implementation -->
    <link rel="stylesheet" href="assets/css/styles.css">
    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="assets/css/all.min.css">
    <title>Chicago Design System</title>
  </head>
  <body>


<!-- CDS SITE SEAL -->
<div class='site-trust-seal'>
        <div class='trust-seal-link container'>
          <div class='row'>
            <div class='col ml-2 trust-seal-link-container'  data-toggle="collapse" data-target="#trust-seal-content" role="button"
            aria-expanded="false" aria-controls="trust-seal-content">
              <img src='assets/img/safari-pinned-tab.svg' class='trust-seal-flag' title='Flag'>
              <div>
                <span>An official website of the City of Chicago</span>
                <button class="trust-seal-action" title='Here’s how you know' 
                    data-target="#trust-seal-content" role="button"
                    data-toggle="collapse" 
                    aria-expanded="false" aria-controls="trust-seal-content">
                  <span>Here’s how you know</span>
                </button>	
              </div>										
            </div>
          </div>
        </div>
        <div class='trust-seal-content collapse container mt-4' aria-hidden='true' id='trust-seal-content'>
          <div class='row'>
            <div class='col-sm-6'>
                <div class="media">
                    <img class="mr-3 trust-seal-icon" src="assets/img/icon-dot-gov.svg" alt="Generic placeholder image">
                    <div class="media-body">
                    <h5 class="mt-0">The .gov means it’s official.</h5>
                    Municipal government websites often end in .gov or .org. Before sharing sensitive information, make sure you’re on a City of Chicago government site.
                    </div>
                </div>
            </div>
            <div class='col-sm-6'>
                <div class="media">
                    <img class="mr-3 trust-seal-icon" src="assets/img/icon-https.svg" alt="Generic placeholder image">
                    <div class="media-body">
                    <h5 class="mt-0">The site is secure.</h5>
                    The <strong>https://</strong> ensures that you are connecting to the official website and that any information you provide is encrypted and transmitted securely.
                    </div>
                </div>						
            </div>					
          </div>								
        </div>					
      </div>	
<!-- CDS NAVBAR -->
<header class="cds-header" role="banner">
	<div class="cds-navbar">
	  <button class="cds-menu-btn">MENU</button>
	  <div class="cds-logo" id="logo">
	    <em class="cds-logo-text">
	      <a href="/design-cds-bootstrap/" title="Home">
	        <img src="assets/img/chicago.gov-logo.png" alt="Logo of the City of Chicago">
			    <h1 class="cds-header-title">Chicago</h1>
	      </a>
	    </em>
	  </div>
	</div>
 	<!--Start Navigation-->
<nav role="navigation" class="cds-nav">
    <div class="cds-nav-inner">
      <button class="cds-nav-close">
        <img src="assets/img/close.svg" alt="close">
      </button>
      <ul class="cds-nav-primary cds-accordion">
        <li><a class="cds-nav-link" href="/design-cds-bootstrap/"><span>Home</span></a></li>
        <li><a class="cds-nav-link" href="/design-cds-bootstrap/accesibility"><span>Accesibility</span></a></li>
        <li><a class="cds-nav-link" href="/design-cds-bootstrap/landing_page"><span>Landing page</span></a></li>
        <li><a class="cds-nav-link" href="/design-cds-bootstrap/content_page"><span>Content page</span></a></li>
        <li>
          <button class="cds-accordion-button cds-nav-link" aria-expanded="false" aria-controls="nav-5">
            <span>Dropdown</span>
          </button>
          <ul id="nav-5" class="cds-nav-submenu" aria-hidden="true">
              <li><a href="#">Page title</a></li>
              <li><a href="#">Page title one</a></li>
              <li><a href="#">Page title two</a></li>
              <li><a href="#">Link</a></li>
          </ul>
        </li>
        <li>
          <button class="cds-accordion-button cds-nav-link" aria-expanded="false" aria-controls="nav-0">
            <span>Mega menu</span>
          </button>
          <div id="nav-0" class="cds-nav-submenu cds-nav-megamenu row"  aria-hidden="true">
            <div class="col-4">
                <ul>
                    <li><a href="#">Page title</a></li>
                    <li><a href="#">Page title one</a></li>
                    <li><a href="#">Page title two</a></li>
                    <li><a href="#">Link</a></li>
                  </ul>
            </div>
            <div class="col-4">
                <ul>
                    <li><a href="#">Page title</a></li>
                    <li><a href="#">Page title one</a></li>
                    <li><a href="#">Page title two</a></li>
                    <li><a href="#">Link</a></li>
                  </ul>
            </div>
          </div>
        </li>
			</ul>		
      <div class="cds-nav-secondary">
        <ul class="cds-unstyled-list cds-nav-secondary-links">
            <li>
              <a href="#">
                Secondary nav
              </a>
            </li>
            <li>
              <a href="#">
                External link
              </a>
            </li>
        </ul>
      </div>

    </div>
  </nav>
</header>

<!-- CONTENT-->

{{ content }}

<!-- CDS SITE FOOTER -->
<footer>
    <div class='footer-primary'>
      <div class='footer-primary-nav container' role='navigation'>
        <a href='#'>Link 1</a>
        <a href='#'>Link 2</a>
        <a href='#'>Link 3</a>
      </div>
    </div>
    <div class='footer-main'>
    <div class='container'>
      <div class='row'>
        <div class='col-sm-6'>
    
          <div class="media footer-media">
            <img class="align-self-center mr-3" src="assets/img/city_seal_clr.png" alt="City of Chicago">
            <div class="media-body align-self-center">
              <h3 class="mt-0">City of Chicago</h3>
            </div>
            </div>

        </div>
        <div class='col-sm-6'>
          <div class='footer-main-right'>
            <div class='footer-social-links'>
              <a href='#'><i class="fab fa-twitter"></i></a>
              <a href='#'><i class="fab fa-facebook"></i></a>
              <a href='#'><i class="fab fa-youtube"></i></a>
            </div>
            <div class='footer-contact'>
                <h4>Contact Info</h4>
            </div>
            <div class='footer-contact-links'>
                <a href="#">info@chicago.gov</a>
                <a href="#">(312)-774-2828</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="assets/js/uswds.min.js"></script>
  </body>
</html>